<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEqxQ0vCzZjyUuf35dLhN4DZwyAvCped0</string>
	<key>GCM_SENDER_ID</key>
	<string>123218399952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sirSyedCase</string>
	<key>PROJECT_ID</key>
	<string>sir-syed-case-database</string>
	<key>STORAGE_BUCKET</key>
	<string>sir-syed-case-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123218399952:ios:fb96a8eef040f973a984d5</string>
</dict>
</plist>